[submodule ".github"]
	path = .github
	url = git@github.com:OpenPhysics/.github.git
[submodule "Baton"]
	path = Baton
	url = git@github.com:OpenPhysics/Baton.git
[submodule "DopplerEffect"]
	path = DopplerEffect
	url = git@github.com:OpenPhysics/DopplerEffect.git
[submodule "ElectricFieldOfDreams"]
	path = ElectricFieldOfDreams
	url = git@github.com:OpenPhysics/ElectricFieldOfDreams.git
[submodule "LadyBug"]
	path = LadyBug
	url = git@github.com:OpenPhysics/LadyBug.git
[submodule "LunarLander"]
	path = LunarLander
	url = git@github.com:OpenPhysics/LunarLander.git
[submodule "MazeGame"]
	path = MazeGame
	url = git@github.com:OpenPhysics/MazeGame.git
[submodule "MovingMan"]
	path = MovingMan
	url = git@github.com:OpenPhysics/MovingMan.git
[submodule "OpticsLab"]
	path = OpticsLab
	url = git@github.com:OpenPhysics/OpticsLab.git
[submodule "OscillationsAndChaos"]
	path = OscillationsAndChaos
	url = git@github.com:OpenPhysics/OscillationsAndChaos.git
[submodule "QubitSketch"]
	path = QubitSketch
	url = git@github.com:OpenPhysics/QubitSketch.git
[submodule "RadioWaves"]
	path = RadioWaves
	url = git@github.com:OpenPhysics/RadioWaves.git
[submodule "Resonance"]
	path = Resonance
	url = git@github.com:OpenPhysics/Resonance.git
[submodule "TemplateSingleSim"]
	path = TemplateSingleSim
	url = git@github.com:OpenPhysics/TemplateSingleSim.git
[submodule "TheRamp"]
	path = TheRamp
	url = git@github.com:OpenPhysics/TheRamp.git
[submodule "TrackLab"]
	path = TrackLab
	url = git@github.com:OpenPhysics/TrackLab.git
[submodule "WaveComposer"]
	path = WaveComposer
	url = git@github.com:OpenPhysics/WaveComposer.git
[submodule "jscd48"]
	path = jscd48
	url = git@github.com:OpenPhysics/jscd48.git
[submodule "pycd48"]
	path = pycd48
	url = git@github.com:OpenPhysics/pycd48.git
[submodule "pyro"]
	path = pyro
	url = git@github.com:OpenPhysics/pyro.git
[submodule "tscd48"]
	path = tscd48
	url = git@github.com:OpenPhysics/tscd48.git
